<div class="score-board">
    <div id = 'user' class="badge">me</div>
    <div id='computer' class="badge">enemy</div>
    <span id='user-score'>0</span>:<span id='computer-score'>0</span>
</div>
<div class="result">
    <p id="paragraf"></p>
    <p id="anotherparagraf"></p>
</div>
<div class="choises">
    <div class="choise" id="rock"><img src="img/rock.png" height="95" width="95" alt="rock"></div>
    <div class="choise" id="paper"><img src="img/paper.png" height="95" width="95"alt="paper"></div>
    <div class="choise" id="scissors"><img src="img/sisors.png" height="95" width="95"alt="scissors"></div>
</div>
<p id="action-message">Make your move</p>
<br>
<form id='chat_form'>

        <input id="chat">
        <button id="say">Say</button> 
        <ul id="events">
            </ul>       
</form>


